.title{
  font-family: 'Bitter', serif;
  color:white;
 text-align:center;
  
 
}

.header{
    overflow:hidden;
 background-color:#228b22;
padding:20px;



}

.menu{
    width:10%;
    height:10%;
}

.drop{
     float:left;
   width:25%;
   padding-bottom:1px;
   background-color: black;
}
.databox{
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

.what {
    padding-left: 20px;
    margin-left: 55px;
    border: hidden;
    font-style: italic;
}
.where {
    margin-left: 25px;
    margin-top: 25px;
}
.when{
    margin-left: 55px;
    margin-top: 25px;
}
.why {
    margin-left: 75px;
    margin-top: 25px;
}
.who {
    margin-left: 95px;
    margin-top: 25px;
}
.how {
    margin-left: 115px;
    margin-top: 25px;
    width: 1300px;
}

   

.footer{
    overflow:hidden;
 background-color:#228b22;
padding:20px;
display:flex;
}



a{
    color:white;
    text-decoration: none;
    font-family: 'Bitter', serif;
}

.prev{
    display:flex;
    justify-content:center;
}


.next{
    display:flex;
    justify-content:center;
}

.earth{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:60%;
    
}

.mid{
    background-color:black;
    overflow:hidden;
}

.bottom{
    background-color:white;
    font-family: 'Bitter', serif;
    text-align:center;
}