.title{
  font-family: 'Bitter', serif;
  color:white;
 text-align:center;
  
}

.header{
    overflow:hidden;
 background-color:#228b22;
padding:20px;



}

.menu{
    float:left;
    width:10%;
    height:10%;
}

.drop{
   width:25%;
   padding-bottom:1px;
   background-color:#228b22 ;
   position:absolute;
}
.databox{
    width: 450px;
    padding: 10px;
    border: 10px groove;
    margin: 0;
    opacity: 0;
    transition: opacity 5s; 
    border-color: #A15A08;
}

.what {
    padding-left: 20px;
    margin-left: 150px;
    border: hidden;
    font-style: italic;
}
.where {
    margin-left: 230px;
    margin-top: 25px;
}
.when{
    margin-left: 275px;
    margin-top: 25px;
}
.why {
    margin-left: 320px;
    margin-top: 25px;
}
.who {
    margin-left: 365px;
    margin-top: 25px;
}
.how {
    margin-left: 435px;
    margin-top: 25px;
    width: 500px;
    margin-bottom: 50px;
}

   

.footer{
    overflow:hidden;
 background-color:#228b22;
padding:20px;
display:flex;
}



a{
    color:white;
    text-decoration: none;
    font-family: 'Bitter', serif;
}

.prev{
    display:flex;
    justify-content:center;
}


.next{
    display:flex;
    justify-content:center;
}

.earth{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:60%;
    
}

.mid{
    background-color:black;
    overflow:hidden;
}

.bottom{
    background-color:white;
    font-family: 'Bitter', serif;
    text-align:center;
    font-size:200%;
}
.dropLink{
    display: block
}

.polute{
    display:block;
    margin-left: auto;
    margin-right: auto;

}